.App {
  text-align: center;
  font-size: calc(8px + 2vmin);
  background-image: linear-gradient(to top left, #2b001b, #020035);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-link {
  color: #0000006b;
}
