.App {
  text-align: center;
  font-size: calc(8px + 2vmin);
  background-image: linear-gradient(to top left, #2b0010, #020035);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-link {
  color: #61dafb;
}
